@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../asset/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Noto Sans", serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  display: flex;
  gap: 40px;
  margin: 0;
  padding-top: 60px;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 40px;
  margin-top: 50px;
  color: #442a2a;
}

.collapsed {
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

nav {
  width: 100%;
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 20px;
}

.collapsed li a {
  color: #d9a9a9;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.collapsed li i {
  color: #fff;
  margin: 10px;
}

.collapsed li {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.collapsed li:hover {
  background-color: #724b4b;
  border-radius: 5px;
  color: #000;
  width: 280px;
}
/* .loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }
  .loader::after {
    content: " ";
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 5px solid #4facfe;
    border-top-color: #7449f5;
    animation: loading 1.75s ease infinite;
  }


  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }    */
.rightpannel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading h1 {
  margin-top: 40px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.card {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-size: cover;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.card span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.play-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-icon i {
  font-size: 20px;
  color: #333;
}

.fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fullscreen-container video {
  width: 80%;
  height: auto;
}

#closeButton {
  margin-top: 20px;
  background: rgb(246, 245, 245);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
